[submodule "LDAPAuthorization"]
	path = LDAPAuthorization
	url = git@github.com:mwstake/mediawiki-extensions-LDAPAuthorization
[submodule "LDAPAuthentication"]
	path = LDAPAuthentication
	url = git@github.com:mwstake/mediawiki-extensions-LDAPAuthentication
[submodule "LDAPUserInfo"]
	path = LDAPUserInfo
	url = git@github.com:mwstake/mediawiki-extensions-LDAPUserInfo
[submodule "LDAPProvider"]
	path = LDAPProvider
	url = git@github.com:mwstake/mediawiki-extensions-LDAPProvider
[submodule "LDAPGroups"]
	path = LDAPGroups
	url = git@github.com:mwstake/mediawiki-extensions-LDAPGroups
[submodule "PHPEditor"]
	path = PHPEditor
	url = git@github.com:mwstake/mediawiki-extensions-PHPEditor
[submodule "UserLoginLog"]
	path = UserLoginLog
	url = git@github.com:mwstake/mediawiki-extensions-UserLoginLog
[submodule "PeriodicRelatedChanges"]
	path = PeriodicRelatedChanges
	url = git@github.com:hexmode/mediawiki-PeriodicRelatedChanges
[submodule "NamespaceManager"]
	path = NamespaceManager
	url = git@github.com:hexmode/mediawiki-NamespaceManager
[submodule "PageProtect"]
	path = PageProtect
	url = git@github.com:hexmode/mediawiki-PageProtect
[submodule "AccessLogReports"]
	path = AccessLogReports
	url = git@github.com:hexmode/mediawiki-AccessLogReports
[submodule "UserSnoop"]
	path = UserSnoop
	url = git@github.com:hexmode/mediawiki-UserSnoop
[submodule "MagicNumberedHeadings"]
	path = MagicNumberedHeadings
	url = git@github.com:hexmode/mediawiki-MagicNumberedHeadings
[submodule "ViewProtect"]
	path = ViewProtect
	url = git@github.com:hexmode/mediawiki-ViewProtect
[submodule "WhatsNearby"]
	path = WhatsNearby
	url = git@github.com:SemanticMediaWiki/WhatsNearby
[submodule "SemanticNotifications"]
	path = SemanticNotifications
	url = git@github.com:SemanticMediaWiki/SemanticNotifications
[submodule "SemanticMetatags"]
	path = SemanticMetatags
	url = git@github.com:SemanticMediaWiki/SemanticMetatags
[submodule "IFrame"]
	path = IFrame
	url = git@github.com:hexmode/mediawiki-iframe.git
[submodule "Chameleon"]
	path = Chameleon
	url = git@github.com:cmln/chameleon.git
[submodule "Purge"]
	path = Purge
	url = git@github.com:Hutchy68/Purge.git
[submodule "Pickle"]
	path = Pickle
	url = git@github.com:jeblad/Pickle.git
[submodule "GitHub"]
	path = GitHub
	url = git@github.com:JeroenDeDauw/GitHub.git
[submodule "Maps"]
	path = Maps
	url = git@github.com:JeroenDeDauw/Maps.git
[submodule "ParserHooks"]
	path = ParserHooks
	url = git@github.com:JeroenDeDauw/ParserHooks.git
[submodule "SubPageList"]
	path = SubPageList
	url = git@github.com:JeroenDeDauw/SubPageList.git
[submodule "Validator"]
	path = Validator
	url = git@github.com:JeroenDeDauw/Validator.git
[submodule "CreateWiki"]
	path = CreateWiki
	url =  git@github.com:miraheze/CreateWiki.git
[submodule "ManageWiki"]
	path = ManageWiki
	url =  git@github.com:miraheze/ManageWiki.git
[submodule "FinnFrameNet"]
	path = FinnFrameNet
	url = git@github.com:Nikerabbit/mediawiki-extensions-FinnFrameNet.git
[submodule "OrganicDesign-extensions"]
	path = OrganicDesign-extensions
	url = git@github.com:OrganicDesign/extensions.git
[submodule "SemanticBreadcrumbLinks"]
	path = SemanticBreadcrumbLinks
	url =  git@github.com:SemanticMediaWiki/SemanticBreadcrumbLinks.git
[submodule "SemanticCite"]
	path = SemanticCite
	url =  git@github.com:SemanticMediaWiki/SemanticCite.git
[submodule "SemanticCompoundQueries"]
	path = SemanticCompoundQueries
	url =  git@github.com:SemanticMediaWiki/SemanticCompoundQueries.git
[submodule "SemanticExternalQueryLookup"]
	path = SemanticExternalQueryLookup
	url =  git@github.com:SemanticMediaWiki/SemanticExternalQueryLookup.git
[submodule "SemanticExtraSpecialProperties"]
	path = SemanticExtraSpecialProperties
	url =  git@github.com:SemanticMediaWiki/SemanticExtraSpecialProperties.git
[submodule "SemanticFormsSelect"]
	path = SemanticFormsSelect
	url =  git@github.com:SemanticMediaWiki/SemanticFormsSelect.git
[submodule "SemanticGlossary"]
	path = SemanticGlossary
	url =  git@github.com:SemanticMediaWiki/SemanticGlossary.git
[submodule "SemanticInterlanguageLinks"]
	path = SemanticInterlanguageLinks
	url =  git@github.com:SemanticMediaWiki/SemanticInterlanguageLinks.git
[submodule "SemanticMediaWiki"]
	path = SemanticMediaWiki
	url =  git@github.com:SemanticMediaWiki/SemanticMediaWiki.git
[submodule "SemanticResultFormats"]
	path = SemanticResultFormats
	url = git@github.com:SemanticMediaWiki/SemanticResultFormats.git
[submodule "SemanticScribunto"]
	path = SemanticScribunto
	url =  git@github.com:SemanticMediaWiki/SemanticScribunto.git
[submodule "SemanticSignup"]
	path = SemanticSignup
	url =  git@github.com:SemanticMediaWiki/SemanticSignup.git
[submodule "SemanticWatchlist"]
	path = SemanticWatchlist
	url =  git@github.com:SemanticMediaWiki/SemanticWatchlist.git
[submodule "SummaryCards"]
	path = SummaryCards
	url =  git@github.com:SemanticMediaWiki/SummaryCards.git
[submodule "foreground"]
	path = foreground
	url = git@github.com:thingles/foreground.git
[submodule "Nimiarkisto"]
	path = Nimiarkisto
	url = git@github.com:Nikerabbit/mediawiki-extensions-Nimiarkisto.git
[submodule "Termbank"]
	path = Termbank
	url = git@github.com:Nikerabbit/mediawiki-extensions-Termbank.git
[submodule "LanguageNamespaces"]
	path = LanguageNamespaces
	url = git@github.com:Nikerabbit/mediawiki-extensions-LanguageNamespaces.git
[submodule "Sanat"]
	path = Sanat
	url = git@github.com:Nikerabbit/mediawiki-extensions-Sanat.git
[submodule "Kotus"]
	path = Kotus
	url = git@github.com:Nikerabbit/mediawiki-extensions-Kotus.git
[submodule "WordNet"]
	path = WordNet
	url = git@github.com:Nikerabbit/mediawiki-extensions-WordNet.git
[submodule "Lud"]
	path = Lud
	url = git@github.com:Nikerabbit/mediawiki-extensions-Lud.git
[submodule "Mermaid"]
	path = Mermaid
	url = git@github.com:SemanticMediaWiki/Mermaid
[submodule "FormCompletions"]
	path = FormCompletions
	url = git@github.com:mwstake/mediawiki-extensions-FormCompletions
[submodule "TranslateTagsInVE"]
	path = TranslateTagsInVE
	url = https://github.com/Wikifab/ext-TranslateTagsInVE.git
[submodule "AutoSetPageLang"]
	path = AutoSetPageLang
	url = https://github.com/Wikifab/AutoSetPageLang.git
[submodule "PageViewsProperty"]
	path = PageViewsProperty
	url = https://github.com/Wikifab/PageViewsProperty.git
[submodule "SimpleEmbedVideo"]
	path = SimpleEmbedVideo
	url = https://github.com/Wikifab/ext-simple-embed-video
[submodule "FlowCounterTalks"]
	path = FlowCounterTalks
	url = https://github.com/Wikifab/FlowCounterTalks
[submodule "CommentsProperty"]
	path = CommentsProperty
	url = https://github.com/Wikifab/CommentsProperty
[submodule "GroupsPage"]
	path = GroupsPage
	url = https://github.com/Wikifab/GroupsPage
[submodule "UsersPagesLinks"]
	path = UsersPagesLinks
	url = https://github.com/Wikifab/UsersPagesLinks
[submodule "PageMediaGallery"]
	path = PageMediaGallery
	url = https://github.com/Wikifab/PageMediaGallery
[submodule "SemanticJsonExport"]
	path = SemanticJsonExport
	url = https://github.com/Wikifab/ext-SemanticJsonExport
[submodule "CheckPageTitle"]
	path = CheckPageTitle
	url = https://github.com/Wikifab/ext-CheckPageTitle
[submodule "ImageAnnotator"]
	path = ImageAnnotator
	url = https://github.com/Wikifab/mediawiki-extension-ImageAnnotator
[submodule "PageLoadingSpinner"]
	path = PageLoadingSpinner
	url = https://github.com/Wikifab/PageLoadingSpinner
[submodule "UsersWatchButton"]
	path = UsersWatchButton
	url = https://github.com/Wikifab/UsersWatchButton
[submodule "VeForceReload"]
	path = VeForceReload
	url = https://github.com/Wikifab/VeForceReload
[submodule "MailChimpForms"]
	path = MailChimpForms
	url = https://github.com/Wikifab/MailChimpForms
[submodule "3DAlloyNewTag"]
	path = 3DAlloyNewTag
	url = https://github.com/Wikifab/3DAlloyNewTag
[submodule "UsersWatchlist"]
	path = UsersWatchlist
	url = https://github.com/Wikifab/UsersWatchlist
[submodule "VEForPageForm"]
	path = VEForPageForm
	url = https://github.com/Wikifab/mediawiki-extension-VEForPageForm
[submodule "Carousel"]
	path = Carousel
	url = https://github.com/Wikifab/ext-carousel
[submodule "SimpleBatchUpload"]
	path = SimpleBatchUpload
	url = https://github.com/s7eph4n/SimpleBatchUpload
[submodule "PurgePage"]
	path = PurgePage
	url = https://github.com/s7eph4n/PurgePage
[submodule "AutoCreatePage"]
	path = AutoCreatePage
	url = https://github.com/mkroetzsch/AutoCreatePage
[submodule "Bootstrap"]
	path = Bootstrap
	url = https://github.com/s7eph4n/mediawiki-extensions-Bootstrap
[submodule "DocBookExport"]
	path = DocBookExport
	url = https://bitbucket.org/wikiworksdev/docbookexport.git
[submodule "VEForAll"]
	path = VEForAll
	url = https://bitbucket.org/wikiworksdev/VEForAll
[submodule "CloneDiff"]
	path = CloneDiff
	url = https://bitbucket.org/wikiworksdev/CloneDiff
[submodule "Figures"]
	path = Figures
	url = https://bitbucket.org/wikiworksdev/Figures
[submodule "HeaderFooter"]
	path = HeaderFooter
	url = https://github.com/jamesmontalvo3/MediaWiki-HeaderFooter.git
[submodule "CategoryStats"]
	path = CategoryStats
	url = https://github.com/hexmode/CategoryStats.git
[submodule "WatchAnalytics"]
	path = WatchAnalytics
	url = https://github.com/enterprisemediawiki/WatchAnalytics.git
[submodule "DataValues"]
	path = DataValues
	url = https://github.com/DataValues/DataValues.git
[submodule "EmbedVideo"]
	path = EmbedVideo
	url = https://github.com/HydraWiki/mediawiki-embedvideo.git
[submodule "PDFEmbed"]
	path = PDFEmbed
	url = https://github.com/HydraWiki/PDFEmbed.git
[submodule "SpriteSheet"]
	path = SpriteSheet
	url = https://github.com/HydraWiki/SpriteSheet.git
[submodule "LuaCache"]
	path = LuaCache
	url = https://github.com/HydraWiki/LuaCache.git
[submodule "ImageSizeInfoFunctions"]
	path = ImageSizeInfoFunctions
	url = https://github.com/HydraWiki/ImageSizeInfoFunctions
[submodule "Streamer"]
	path = Streamer
	url = https://github.com/HydraWiki/Streamer.git
[submodule "Tabber"]
	path = Tabber
	url = https://github.com/HydraWiki/Tabber.git
[submodule "SimpleTooltip"]
	path = SimpleTooltip
	url = https://github.com/Fannon/SimpleTooltip.git
[submodule "TreeAndMenu"]
	path = TreeAndMenu
	url = https://gitlab.com/Aranad/TreeAndMenu.git
[submodule "MABS"]
	path = MABS
	url = git@github.com:hexmode/MABS.git
[submodule "Preloader"]
	path = Preloader
	url = https://gitlab.com/troyengel/Preloader.git
[submodule "WikiDiscover"]
	path = WikiDiscover
	url = https://github.com/miraheze/WikiDiscover
[submodule "MatomoAnalytics"]
	path = MatomoAnalytics
	url = https://github.com/miraheze/MatomoAnalytics
[submodule "Liberty"]
	path = Liberty
	url = https://gitlab.com/librewiki/Liberty-MW-Skin
[submodule "Sanctions"]
	path = Sanctions
	url = https://github.com/femiwiki/Sanctions
[submodule "skin"]
	path = skin
	url = https://github.com/femiwiki/skin
[submodule "RottenLinks"]
	path = RottenLinks
	url = https://github.com/miraheze/RottenLinks
