[submodule "LDAPAuthorization"]
	path = LDAPAuthorization
	url = git@github.com:mwstake/mediawiki-extensions-LDAPAuthorization
[submodule "LDAPAuthentication"]
	path = LDAPAuthentication
	url = git@github.com:mwstake/mediawiki-extensions-LDAPAuthentication
[submodule "LDAPUserInfo"]
	path = LDAPUserInfo
	url = git@github.com:mwstake/mediawiki-extensions-LDAPUserInfo
[submodule "LDAPProvider"]
	path = LDAPProvider
	url = git@github.com:mwstake/mediawiki-extensions-LDAPProvider
[submodule "LDAPGroups"]
	path = LDAPGroups
	url = git@github.com:mwstake/mediawiki-extensions-LDAPGroups
[submodule "PHPEditor"]
	path = PHPEditor
	url = git@github.com:mwstake/mediawiki-extensions-PHPEditor
[submodule "UserLoginLog"]
	path = UserLoginLog
	url = git@github.com:mwstake/mediawiki-extensions-UserLoginLog
[submodule "PeriodicRelatedChanges"]
	path = PeriodicRelatedChanges
	url = git@github.com:hexmode/mediawiki-PeriodicRelatedChanges
[submodule "NamespaceManager"]
	path = NamespaceManager
	url = git@github.com:hexmode/mediawiki-NamespaceManager
[submodule "PageProtect"]
	path = PageProtect
	url = git@github.com:hexmode/mediawiki-PageProtect
[submodule "AccessLogReports"]
	path = AccessLogReports
	url = git@github.com:hexmode/mediawiki-AccessLogReports
[submodule "UserSnoop"]
	path = UserSnoop
	url = git@github.com:hexmode/mediawiki-UserSnoop
[submodule "MagicNumberedHeadings"]
	path = MagicNumberedHeadings
	url = git@github.com:hexmode/mediawiki-MagicNumberedHeadings
[submodule "ViewProtect"]
	path = ViewProtect
	url = git@github.com:hexmode/mediawiki-ViewProtect
