[submodule "LDAPAuthorization"]
	path = LDAPAuthorization
	url = git@github.com:mwstake/mediawiki-extensions-LDAPAuthorization
[submodule "LDAPAuthentication"]
	path = LDAPAuthentication
	url = git@github.com:mwstake/mediawiki-extensions-LDAPAuthentication
[submodule "LDAPUserInfo"]
	path = LDAPUserInfo
	url = git@github.com:mwstake/mediawiki-extensions-LDAPUserInfo
[submodule "LDAPProvider"]
	path = LDAPProvider
	url = git@github.com:mwstake/mediawiki-extensions-LDAPProvider
[submodule "LDAPGroups"]
	path = LDAPGroups
	url = git@github.com:mwstake/mediawiki-extensions-LDAPGroups
[submodule "PHPEditor"]
	path = PHPEditor
	url = git@github.com:mwstake/mediawiki-extensions-PHPEditor
[submodule "UserLoginLog"]
	path = UserLoginLog
	url = git@github.com:mwstake/mediawiki-extensions-UserLoginLog
[submodule "PeriodicRelatedChanges"]
	path = PeriodicRelatedChanges
	url = git@github.com:hexmode/mediawiki-PeriodicRelatedChanges
[submodule "NamespaceManager"]
	path = NamespaceManager
	url = git@github.com:hexmode/mediawiki-NamespaceManager
[submodule "PageProtect"]
	path = PageProtect
	url = git@github.com:hexmode/mediawiki-PageProtect
[submodule "AccessLogReports"]
	path = AccessLogReports
	url = git@github.com:hexmode/mediawiki-AccessLogReports
[submodule "UserSnoop"]
	path = UserSnoop
	url = git@github.com:hexmode/mediawiki-UserSnoop
[submodule "MagicNumberedHeadings"]
	path = MagicNumberedHeadings
	url = git@github.com:hexmode/mediawiki-MagicNumberedHeadings
[submodule "ViewProtect"]
	path = ViewProtect
	url = git@github.com:hexmode/mediawiki-ViewProtect
[submodule "SemanticMediaWiki"]
	path = SemanticMediaWiki
	url = git@github.com:SemanticMediaWiki/SemanticMediaWiki
[submodule "SemanticInterlanguageLinks"]
	path = SemanticInterlanguageLinks
	url = git@github.com:SemanticMediaWiki/SemanticInterlanguageLinks
[submodule "SemanticExtraSpecialProperties"]
	path = SemanticExtraSpecialProperties
	url = git@github.com:SemanticMediaWiki/SemanticExtraSpecialProperties
[submodule "SemanticCite"]
	path = SemanticCite
	url = git@github.com:SemanticMediaWiki/SemanticCite
[submodule "SemanticWatchlist"]
	path = SemanticWatchlist
	url = git@github.com:SemanticMediaWiki/SemanticWatchlist
[submodule "WhatsNearby"]
	path = WhatsNearby
	url = git@github.com:SemanticMediaWiki/WhatsNearby
[submodule "SummaryCards"]
	path = SummaryCards
	url = git@github.com:SemanticMediaWiki/SummaryCards
[submodule "SemanticCompoundQueries"]
	path = SemanticCompoundQueries
	url = git@github.com:SemanticMediaWiki/SemanticCompoundQueries
[submodule "SemanticNotifications"]
	path = SemanticNotifications
	url = git@github.com:SemanticMediaWiki/SemanticNotifications
[submodule "SemanticScribunto"]
	path = SemanticScribunto
	url = git@github.com:SemanticMediaWiki/SemanticScribunto
[submodule "SemanticMetatags"]
	path = SemanticMetatags
	url = git@github.com:SemanticMediaWiki/SemanticMetatags
[submodule "SemanticExternalQueryLookup"]
	path = SemanticExternalQueryLookup
	url = git@github.com:SemanticMediaWiki/SemanticExternalQueryLookup
[submodule "SemanticFormsSelect"]
	path = SemanticFormsSelect
	url = git@github.com:SemanticMediaWiki/SemanticFormsSelect
[submodule "SemanticGlossary"]
	path = SemanticGlossary
	url = git@github.com:SemanticMediaWiki/SemanticGlossary
[submodule "SemanticSignup"]
	path = SemanticSignup
	url = git@github.com:SemanticMediaWiki/SemanticSignup
[submodule "SemanticBreadcrumbLinks"]
	path = SemanticBreadcrumbLinks
	url = git@github.com:SemanticMediaWiki/SemanticBreadcrumbLinks
[submodule "IFrame"]
	path = IFrame
	url = git@github.com:hexmode/mediawiki-iframe.git
[submodule "ManageWiki"]
	path = ManageWiki
	url = https://github.com/miraheze/ManageWiki
[submodule "CreateWiki"]
	path = CreateWiki
	url = https://github.com/miraheze/CreateWiki
